<div class="dialog"> 
  <p>Sorry! That token is <b>invalid</b> or has expired!</p>
  <p>If this doesn't seem right please <a href="http://www.toofactor.com/contact/">
      drop us a line</a> and we'll lend a hand.</p>
</div>
