<div class="dialog"> 
  <p>Sorry, api.toofactor.com only services direct API calls.</p>
  <p>We want your experience to be as simple as possible. You can learn more about our
    service at <a href="http://toofactor.com">our main site</a>, or <a href="http://toofactor.com/contact/">
    drop us a line</a> and we'll lend a hand.</p>
  </p>
</div>
